* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-alugar{
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    margin: 1.5em;
}

.alugar-voltar{

}

.voltar-img{
    transition: 0.6s;
    width: 40px;
}

.alugar-titulo{

}

.titulo-inicial{

}

.alugar-informacoes{

}

.alugar-locador{

}

.locador-avaliacao{

}

.locador-imagem{
    transition: 0.6s;
    width: 30px;
}

.alugar-carro{

}

.carro-titulo{

}

.carro-informacoes{

}

.pagamento{

}

.pagamento-texto{

}

.pagamento-icones{

}

.lista-pagamentos{

}

.lista-icones-pg{
    transition: 0.6s;
    width: 30px;
}