* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::before

.main-alugar{
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 1.5em;
}

.alugar-voltar{
    position: relative;
    margin: 1em;  
    display: flex;
    justify-content: center;
    align-items: center;  
}

.voltar-img{
    transition: 0.6s;
    width: 40px;
    margin: 0 5em;
}

.titulo-inicial{
    text-align: center;
    font-weight: 550;
    font-size: 25px;
}

.alugar-informacoes{
    width: 100%;
    max-width: 400px;
    padding: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;   
}

.alugar-locador{
    margin: 1em;
}

.locador-avaliacao{

}

.locador-imagem{
    transition: 0.6s;
    width: 30px;
    margin: 1em;
}

.alugar-carro{

}

.carro-titulo{

}

.carro-informacoes{

}

.carro-informacoes-data{

}

.carro-informacoes-editar{
    width: 20%;
    padding: 6px;
    background-color: var(--azul-claro);
    border: none;
    border-radius: 22px;
    font-size: 14px;
    cursor: pointer;
    margin: 1em 1em;
    transition: 0.6s;
    box-shadow: 0px 0px 1px 1px var(--azul-claro);
    font-weight: 500;
    text-align: center;
}

.carro-informacoes-editar:hover{
    background-color: var(--azul);
    text-decoration: none
}

.pagamento{
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

.pagamento-texto{
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--preto);
    text-align: center;
}

.pagamento-icones{
    padding: 0.5em;
    width: 130px;
    
    margin: auto 7em;
}

.lista-pagamentos{

}

.lista-icones-pg{
    transition: 0.6s;
    width: 20px;
    display: inline-block;
}

.pagamento-dados{
    margin-bottom: 20px;
}

.lista-dados{
    padding: 0.2em;
    display: flex;
    flex-direction: column;
}

.dados-label{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: left;
}

.dados-input{
    outline: none;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
}

.dados-botao{
    width: 100%;
    padding: 10px;
    background-color: var(--azul-claro);
    border: none;
    border-radius: 22px;
    font-size: 14px;
    cursor: pointer;
    margin: 1em 1em;
    transition: 0.6s;
    box-shadow: 0px 0px 1px 1px var(--azul-claro);
    font-weight: 500;
}

.dados-botao:hover{
    background-color: var(--azul);
    text-decoration: none
}