body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

header {
    padding: 0 5%;
}

main {
    max-width: 1110px;
    padding: 0 5%;
}

.lista-carros {
    max-width: 60%;
}

.perquisa-carro {
    align-items: center;
}

.carros-imagem:hover {
    transition: 0.6s;
    box-shadow: 0px 0px 20px 4px #032e5f;
    scale: 105%;
}
.carros-imagem {
    transition: 0.6s;
    box-shadow: 0px 0px 0px 0px #032e5f;
    scale: 100%;
}

.lista{
    text-align: center;
    display: flex;
    font-size: 18px;
    padding: 1em 0 0.5em 0;
}

.lista-carros{
    position: initial;
    margin: 0.5em;
    justify-content: space-between;
}

.carros-imagem{
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 0.5em;
    
}

.carros-descricao-negrito{    
    font-weight: 600;
}

#search {
    width: 300px;
    padding: 10px;
    border: 1px none #ccc;
    border-radius: 4px;
    position: relative; /* Para posicionar o dropdown corretamente */
}
#results {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none; /* Inicialmente oculto */
    position: absolute; /* Para posicionar em relação ao campo de busca */
    background: white;
    width: 300px; /* Deve corresponder à largura do campo de busca */
    z-index: 1;
    margin-top: 60px; /* Espaço entre o campo de busca e os resultados */
}
.result-item {
    padding: 8px;
    cursor: pointer;
}
.result-item.selected {
    background-color: #007bff;
    color: white;
}

.form-pesquisa {
    font-size: 15px;
}

.label-filtro {
    margin-left: 10px;
}

.inp-filtro{
    text-decoration: none;
}